@media (prefers-color-scheme: light) {
  .site-title {
    font-size: 1.2em;
    color: $color-AISUMICHA;
    text-decoration: none;
  }
  .site-title:hover {
    transition: 1s;
    color: $color-RO;
    text-decoration: none;
  }
}
@media (prefers-color-scheme: dark) {
  .site-title {
    font-size: 1.2em;
    color: $color-SHIRONEZUMI;
    text-decoration: none;
  }
  .site-title:hover {
    transition: 1s;
    color: $color-LIGHT;
    text-decoration: none;
  }
}
