.beian {
  height: 20px;
  text-align: center;
  margin: 10px;
}
.beian a {
  color: #999;
  text-decoration: none;
}
.beian a:hover {
  transition: 1s;
  color: #3e3e3e;
}
.beian img {
  margin-bottom: 3px;
  height: 100%;
}
.footer {
  text-align: center;
  color: #999;
/* font-size 1.0em */
  font-size: 0.875em;
  letter-spacing: 0px;
  margin: 20px;
}
.footer a:hover {
  text-decoration: none;
  transition: 1s;
  color: #3e3e3e;
}
h1,
h2,
h3,
h4 {
  font-family: 'Crimson Text', sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 20px;
}
@media (prefers-color-scheme: light) {
  h1,
  h2,
  h3,
  h4 {
    color: #373c38;
  }
}
@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4 {
    color: #bdc0ba;
  }
}
@media (prefers-color-scheme: light) {
  h5,
  h6 {
    color: #373c38;
  }
}
@media (prefers-color-scheme: dark) {
  h5,
  h6 {
    color: #bdc0ba;
  }
}
.post-content img {
  width: 100%;
  margin: 0 0 20px 0;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.35);
}
@media (prefers-color-scheme: light) {
  .post-content {
    color: #373c38;
  }
}
@media (prefers-color-scheme: dark) {
  .post-content {
    color: #bdc0ba;
  }
}
@media (prefers-color-scheme: light) {
  .site-title {
    font-size: 1.2em;
    color: #373c38;
    text-decoration: none;
  }
  .site-title:hover {
    transition: 1s;
    color: #0c0c0c;
    text-decoration: none;
  }
}
@media (prefers-color-scheme: dark) {
  .site-title {
    font-size: 1.2em;
    color: #bdc0ba;
    text-decoration: none;
  }
  .site-title:hover {
    transition: 1s;
    color: #f0f0f0;
    text-decoration: none;
  }
}
.portfolio-img {
  width: 100%;
  max-height: 300px;
  display: block;
  object-fit: cover;
}
@media screen and (max-width: 1920px) {
  .portfolio-img {
    max-height: 250px;
  }
}
.portfolio-content {
  line-height: 2;
  color: #3e3e3e;
}
.portfolio-content a. {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
}
.portfolio-content a.:hover {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #555;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  overflow: auto;
  position: relative;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.35);
}
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.hovereffect .overlay-text {
  font-size: 1.3rem;
  font-family: 'Crimson Text', sans-serif;
  font-weight: 300;
  color: #000;
  position: relative;
  top: 30%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
.hovereffect:hover {
  background-color: #1c1c1c;
}
.hovereffect:hover .overlay-text {
  opacity: 1;
  color: #f0f0f0;
}
.hovereffect:hover img {
  opacity: 0.5;
}
.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.navbar-brand {
  font-weight: 800;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: #000;
}
.navbar {
  text-transform: uppercase;
}
.nav-item {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 1.5px;
}
.navbar-toggler {
  border: 0;
}
.navbar-toggler-right {
  right: 0rem;
}
.custom-nav-link-div {
  margin: 0 10px;
  font-size: 1.2em;
  font-weight: 500;
}
.custom-nav-link-div a {
  text-decoration: none;
}
@media (prefers-color-scheme: light) {
  .custom-nav-link-div a {
    color: #373c38;
  }
  .custom-nav-link-div a:hover {
    transition: 1s;
    color: #0c0c0c;
  }
}
@media (prefers-color-scheme: dark) {
  .custom-nav-link-div a {
    color: #bdc0ba;
  }
  .custom-nav-link-div a:hover {
    transition: 1s;
    color: #f0f0f0;
  }
}
.page-nav {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.page-nav a,
.page-nav span {
  font-size: 1.3rem;
  font-family: 'Crimson Text', sans-serif;
  font-weight: 300;
  margin: 0 10px;
}
@media (prefers-color-scheme: light) {
  .page-nav a,
  .page-nav span {
    color: #373c38;
  }
}
@media (prefers-color-scheme: dark) {
  .page-nav a,
  .page-nav span {
    color: #bdc0ba;
  }
}
body {
  background: #f0f0f0;
}
@media (prefers-color-scheme: light) {
  body {
    transition: 1s;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    transition: 1s;
    background: #3e3e3e;
  }
}
